@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: 'Switzer-Variable';
    src: url(./fonts/Switzer-Variable.woff) format("truetype");
  }

*{
    font-family: 'Switzer-Variable';
}